.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.square {
  background: #4f3a56;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin: 1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.square:hover {
  background: #36283a;
}

button {
  cursor: pointer;
}
